@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(space-between, center, 10px);
    margin-top: 40px;
}

.containerItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}